body
  background rgba(0, 161, 134, 0)//rgba(255, 128, 10, 0.1)//rgba(255, 157, 0, 0.1)
.content
  padding 5px
  padding-bottom 97px
  text-align center
  form
    .form-header
      text-align center
      padding 20px 0px 50px 0px
      font-family 'roboto-thin', 'roboto-regular','Helvetica Neue',Helvetica,Arial,sans-serif
      color rgb(0, 161, 134)//rgb(255, 128, 10)
    .form-control
      label
        font-family 'roboto-ligth', 'roboto-regular','Helvetica Neue',Helvetica,Arial,sans-serif
        display inline-block
        text-align left
        padding-bottom 20px
      input
        font-size 18px
        border-radius 5px
        border 1px solid #7D7D7D
        display inline-block
        padding 7px
        width 150px
        color rgb(0, 161, 134)//rgb(255, 128, 10)//#3B0C58//#0C5537
    .form-alert
      font-family 'roboto-regular','Helvetica Neue',Helvetica,Arial,sans-serif
      text-align center
      padding 0px
      color #E03626
      font-size 15px//10px
    .ocultar
      display none
    .form-submit
      padding 10px
      width 250px
      margin 0 auto
      text-align center
      padding 20px 0px
      button
        width 150px
        border 0
        color white//#929292//#353535//
        background rgba(0, 161, 134, 1)//rgba(255, 128, 10, 1)//rgba(255, 157, 0, 1)//rgb(99, 99, 99)//rgba(58, 50, 113, 0.9)
        padding 10px
        font-size 20px
        border-radius 5px
        &:hover
          background rgba(0, 161, 134, 0.9)//rgba(255, 128, 10, 0.9)//rgba(255, 157, 0, 0.9)//rgb(99, 99, 99)//rgba(58, 50, 113, 1)


  .header-title
    padding 20px 0px
    //color rgb(58, 50, 113)
.activeButton
  color white !important
  background rgba(58, 50, 113, 0.9) !important
  &:hover
    background rgba(58, 50, 113, 1) !important

.last
  padding-bottom 92px