extends layout_nav

block title
  title Editar
  
block css
  link(rel = 'stylesheet' href = '/css/editar.css')

block content

  div(class = 'content')
    form(action = '/asignacion/editor' method = 'post' onSubmit = 'return confirmar()' name = 'myEditForm')
      div(class = 'form-header')
        h1 Selección de asignación para editar
      
      div(class = 'form-control')
        label Introduce el nombre de la asignación
      
      div(class = 'form-control')
        input(type = 'text' name = 'nProyecto' placeholder = '' id = '')
        
      div(class = 'form-control ocultar')
        input(type = 'text' name = 'mode' placeholder = '' id = '' value = 'editable')
        
      div(class = 'form-alert') #{xlsMessage}
      div(class = 'form-alert' id = 'myAlertName')
      
      //div(class = 'form-jsonData')
        input(type = 'text' name = 'jsonData' placeholder = '' id = 'myJsonData')
      div(class = 'form-submit' id = 'form-submit')
        button(type = 'submit' id = 'saveCont') Editar
      
      //pre(id='out')

block subScripts
  script.
    function confirmar(){
      if(document.forms['myEditForm'].elements['nProyecto'].value == ''){
        //alert('Por favor introduzca un nombre en el campo');
        document.getElementById('myAlertName').innerHTML = 'Por favor introduzca un nombre en el campo';
        return false;
      }else{
        return true;
      }
      
    }